a:link{
    text-decoration: ;
    font-family:;
}

a:visited{
  text-decoration:;   
}

a:hover{
    text-decoration:;
}

address{
    font-family:Oswald, Verdana, Arial, sans-serif ;
    font-size: .8em;
    line-height: .5em;
}

body {
    background-color: lavenderblush;
}

figcaption{
    font-family: Oswald, Verdana, Arial, sans-serif;
    font-weight: 400;
    font-size: .8em;
    
 }

h1, h2{
    font-family: Oswald, Verdana, Arial, sans-serif;
    font-size: 1em;
    color: palevioletred;

 }

h1.important{
    font-weight: 700;
    font-size: 4.768em;
    line-height: 5em;
    margin: 0;
}

h2{
    font-weight: 500;
    line-height: .3em;
    font-size: 3.8em;
    margin: 0;
}

h3{
    font-weight: 500;
    font-family: Oswald, Verdana, Arial sans-serif;
    }

html{
    font-size: 16px;
}

img{
    font-family: Oswald, Verdana, Arial, sans-serif; 
    border-width: 1px 1px 1px 1px thick;
    border-color: palevioletred;
    border-style: solid;
    width: 10000;
    }

ol{
    width: 350px;
    background-color: #d04c06;
    color: #ffffff;
    border: 1px solid #b93f08;
    background-clip:border-box;
    border-radius: 15px;
    padding: 10px;
    list-style-position: inside;
}

p.intro{
    font-weight: bold;
}

p{
    font-family: Quattrocento, Georgia, "Times New Roman", serif;
    font-weight: 400;
    line-height: 1.4em;
}

 

